#header-space{
	height: 50px;
	background-color: #F7C932;
}

.category_solution{
	border: 1px solid red;
	min-height: calc(100vh - 20px);
}

.category_solution:first-child, :not(.category_solution) + .category_solution {
	border: 2px solid red;
	min-height: calc(100vh - 70px);
}

.category_solution_title{
	background-color: #F7C932;
	height: 200px;
	width: 100%;
	margin: 0;
}
.category_solution_title_container{
}

.category_solution_content{
	width: 100%;
	margin-top: 20px;
}

.category_solution_title_text{
	font-size:2.2em;
	margin-top:10px;
	margin-bottom:10px;
}

.category_solution_shortdescription{
	font-size: 1.1em;
	line-height: 1.6em;
}

.category_solution_shortdescription p{
	margin: 0px;
}

.category_solution_fulldescription{
	font-size: 1.1em;
	line-height: 1.6em;
}

.category_solution_fulldescription img{
	max-width: 100%;
	height: auto;
}

.category_solution_additionalpanel{
	background-color: #F3F3F3;
}

.category_solution_feature{
	padding: 10px 10px 10px 10px;
}

.category_solution_additionalpanel_sectiontitle{
	font-size: 0.8em;
	line-height: 1.6em;
	border-bottom: 1px solid black;
}

.category_solution_successfulcase{
	padding: 10px;
	
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.set-vmiddle{
    position: relative !important; 
  	top: 50% !important;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

