.category_solution{
	border: 1px solid red;
	min-height: 100vh;
}

.category_solution_title{
	background-color: #F7C932;
	height: 200px;
	width: 100%;
	margin: 0;
}
.category_solution_title_container{
}

.category_solution_content{
	width: 100%;
}

.category_solution_title_text{
	font-size:2.2em;
	margin-top:10px;
	margin-bottom:10px;
}

.category_solution_shortdescription{
	font-size: 1.1em;
	line-height: 1.6em;
}

.category_solution_content_container{
	margin-top: 5vh;
	margin-bottom: 5vh;
}

.category_solution_fulldescription{
	margin-top:10px;
	margin-bottom:10px;
	
}

.category_solution_fulldescription img{
	font-size: 1.1em;
	line-height: 1.6em;
	max-width: 100%;
	height: auto;
	
}

.category_solution_successfulcase{
	border:1px solid red;
	height:100px;
	margin-top:10px;
	margin-bottom:10px;
	float: none;
}

.category_solution_feature{
	border:1px solid green;
	height:100px;
	margin-top:10px;
	margin-bottom:10px;
	float: none;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.set-vmiddle{
    position: relative !important; 
  	top: 50% !important;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}