.index_section{
	text-align: center;
	width: 100vw;
}

/*more tag's link style*/
.more-link{
	color: red;
}

/* INTRO SECTION */

#index_intro{
    background-image: url(../img/LandingPage_Section01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}
.index_intro_title{
    font-size: 3em;
    color: white;
    padding-top: 100px;
    letter-spacing: 0.1em;
}
.index_intro_subtitle{
    font-size: 1.5em;
    color: white;
    letter-spacing: 0.25em;
    font-weight: lighter;
    margin-top:4.2vh;
}
.index_intro_title_typedtext{
    color: #F7C932;
    min-width:9.2em;
    border-bottom:3px solid #FFF;
    display: inline-block;
}
.index_intro_title_fixedtext{
    display: inline-block;
    margin-top: 1.5vh;
}

@media (max-width: 991px){ /* ipad & most tablets portrait */
    .index_intro_title{
        font-size: 2.7em;
        letter-spacing: 0.09em;
    }
    .index_intro_title_typedtext{
        min-width:8.28em;
    }
}

@media (max-width: 435px){ /* iphone 6 & most smartphones portrait */
    .index_intro_title{
        font-size: 2.4em;
        letter-spacing: 0.08em;
    }
    .index_intro_title_typedtext{
        min-width:100%;
    }
    .index_intro_subtitle{
        font-size: 1.2em;
        letter-spacing: 0.2em;
    }
}

@media (max-width: 320px){  /* iphone 5 portrait */
    .index_intro_title{
        font-size: 2.1em;
        letter-spacing: 0.07em;
    }
    .index_intro_subtitle{
        font-size: 1.02em;
        letter-spacing: 0.17em;
    }

}

/* SOLUTION SECTION */
#index_solution{
}
.index_solution_top{
    background-image: url(../img/LandingPage_Section02.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;
}
.index_solution_title{
    font-size: 1.8em;
    padding-top: 5vh;
}
.index_solution_bottom{
    background-color: #F3F3F3;
    padding-top: 6vh;
    padding-bottom: 9vh;
    height: 100%;
}
.index_solution_bottom_list{
    padding: 0;
    height: 100%;
}
.index_solution_item{
    height: 100%;
}
.index_solution_card{
    background-color: white;
    box-shadow: 0 2px 5px #727272;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    height: calc(100% + 1.2788vh);
    margin: 0 -0.3vw;
    padding: 0 0.8vw;
}

.index_solution_thumbnail{
    margin-bottom: 2.5576vh;
    margin-top:calc(0.6vh + 3.8364vh);
   /* background-color: yellow; */
}
.index_solution_text{
    padding-left:0;
    padding-right: 0;
}
.index_solution_item_title{
    font-size: 1.5em;
    padding-top:1vh;
    padding-bottom: 1vh;
    padding-left: 0;
    padding-right: 0;
}
.index_solution_item_title_topbar{
    border-top: 3px solid #F7C932;
    width: 50%;
    margin: 0 auto;
}
.index_solution_item_title_bottombar{
    border-bottom: 3px solid #F7C932;
    width: 50%;
    margin: 0 auto;
}
.index_solution_item_content{
    font-size: 1em;
    padding-top: 2.5576vh;
    text-align: justify;
}
.index_solution_item_content p{
    margin: 0px;
}
.row-vertical-expand{
    height:100%;
}
@media (max-width: 1139px){
    .index_solution_item_title{
        font-size: 1.84vw;
    }

}

@media (max-width: 991px) and (min-width: 580px){
    .index_solution_item{
        margin-bottom: 1.8vh;
    }
    .index_solution_item_title{
        font-size: 1.5em;
        text-align: left;
        padding-left: 2vw;
        padding-right: 2vw;
    }

    .index_solution_card{
        padding: 2.4vh 2.4vw calc(1.2vh + 20px) 2.4vw;
        margin: 0 7.2vw 0 7.2vw;
    }
    .index_solution_thumbnail{
       /* background-color: red; */
        margin-top:0;
        margin-bottom: 0;
    }
    .index_solution_thumbnail img{
        width: 100%;
        max-width: 90px;
        height: auto;
        position: absolute; !important; 
        top: 50% !important;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .index_solution_text{
        padding: 0;
        width: 100%;
       /*background-color:blue;*/
    }
    .index_solution_item_content{
        width: 100%;
        padding-top: 1.2vh;
        padding-left: 2vw;
        padding-right: 2vw;
    }
    .index_solution_item_title_topbar{
        width: 25%;
        margin: 0 0 0 2vw;
    }
    .index_solution_item_title_bottombar{
        width: 25%;
        margin: 0 0 0 2vw;
    }

    .equalHeightRow-sm{
        display:table;
    }
    .equalHeightCell-sm{
        float: none;
        display: table-cell;
        vertical-align: top;
    }
}

@media (max-width: 579px){
    .index_solution_item{
        margin-bottom: 1.8vh;
    }

    .index_solution_card{
        padding: 1.8vh 2.4vw 3.6vh 2.4vw;
        margin: 0;
    }

    .index_solution_thumbnail{
        margin-top: 0;
        margin-bottom: 0;
    }

    .index_solution_item_title{
        font-size: 1.5em;
        text-align: left;
        padding-left: 1.8vw;
    }

    .index_solution_text{
        margin-top: calc((54px - 2vh) /2);
        /*background-color: yellow;*/
    }

    .index_solution_item_title_topbar{
        width: 35%;
        margin: 0 0 0 1.8vw;
    }
    .index_solution_item_title_bottombar{
        width: 35%;
        margin: 0 0 0 1.8vw;
    }


}

@media (max-width: 449px){
    .index_solution_text{
        height: auto;
        margin-top: calc((27.22vw - 2vh - 66px) / 2);
    }
}


.btn{
    background-color: #F7C932;
    margin-top: -20px;
}
.btn a{
    color: white;
}




.index_customization_top{
}
.index_customization_title{
    font-size: 1.8em;
    padding-top: 6vh;
}
.index_customization_img{
    margin-top: 20px;
    margin-bottom: 40px;
}

.index_case{
    text-align: center;
    background-color: #F7C932;
    color: white;
    height: 100%;
}
.index_case_title{
    font-size: 1.5em;
    padding-top: 5vh;
}
.index_case_list{
    padding: 0;
    padding-top: 5vh;
    padding-bottom: 5vh;
    height: 100%;
}
.index_case_item{
    margin-bottom: 5px;
    height: 100%;
    /*border: 1px solid red;*/
}
.index_case_card{
    background-color: white;
    height: 100%;
    min-height: 10vmax;
    padding:0 1vw;
    box-shadow: 0 2px 5px #727272;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 0 -8px;
}

.index_case_card_title{
    color: black;
    font-size: 1.2em;
    margin: 0.6vh 0 1.2vh 0;

}
.index_case_card_title_bottombar{
    border-top: 3px solid #F7C932;
    width: 40%;
    margin: 0 auto;
}
.index_case_card_client{
    max-height: 66px;
    margin:1.2vh 0 0.6vh 0;
    /*background-color: yellow;*/
    min-height: 40px;
}

.index_case_card_client img{
    margin: auto;
    display: block;
    max-width:100%;
    height: auto;
    max-height:40px;
    width:auto;
}

.index_case_card_clientname{
    text-align: center;
    font-size: 1.38em;
    font-weight: 500;
    letter-spacing:0.24em;
    color: #484848;
}

@media (orientation:landscape){
    .index_case_card_client{
        height:5.2vh;
    }
}

@media (max-width: 991px){
    .index_case_card{
        margin: 1.2vh 0.6vw;
        padding: 0 2.4vw;
    }

}

@media (max-width: 767px){
    .index_case_card{
        margin: 0.6vh 7.2vw;
        padding: 0 4.8vw;
    }

    .index_case_card_client{
        margin:0.3vh 0 1.2vh 0;
    }

}

@media (max-width: 767px) and (orientation:portrait){
    .index_case_card{
        margin: 0.6vh 0;
    }
}

@media (min-width: 768px){
    #index_case .equalHeightRow{
        display: table;
    }
    #index_case .equalHeightCell{
        float: none;
        display: table-cell;
        vertical-align: top;
    }
}


#index_team{
    padding-bottom: 50px;
}
.index_team_content{
    padding-top: 20px;
    padding-bottom: 20px;
}
.index_team_img{
    padding-bottom: 50px;
    margin: 0 auto;
}

/*bootstrap in 5 columns*/
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
    .col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}